<div>
    ProductListComponent ->

    <app-product 
        
        [products]="productsObservable | async"

        (productToBuy)="onAddInCart($event)"

        (productToView)="onViewProduct($event)"
    >

    </app-product>
</div>

<div>
    Cart state from the localstorage:
    <div>
        {{getCartFromLocalStorage()}}
    </div>
</div>
<!-- [products] = "products"

[products]="productsObservable | async" 
[products]="getProductsFromPromise()"
[products]="productsPromise | async"
[products]="productsFromPromise"
-->

