<!-- <div>

    <div>ProductComponent:</div>
    <button name="Buy" (click)="onBuy()" >Buy (Log in console)</button>

    <div>
        *****************************************************
    </div>
</div> -->

<div class="panel panel-default">

    <div>ProductComponent:</div>
    <br/>

    <!-- Bootstrap style -->
    <!-- <div class="panel-heading">List of products from the service:</div>
    
    <div class="panel-body" *ngFor ="let product of products;">
        
        {{product.id}} - {{product.name}} - {{product.price}}
        
        <button class="btn btn-primary" 
                [disabled]="!product.isPresent" 
                id="product.id" (click)="onAddInCart(product)"
        >
            In Cart
        </button>

        <button class="btn btn-danger"
                [disabled]="!product.isPresent" 
                (click)="onRemoveFromCart(product)"
        >
            Cancel
        </button>
    </div> -->

    <!-- Material table style -->
    <table mat-table [dataSource]="productsForTable" class="mat-elevation-z8">
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
    
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
        </ng-container>
    
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price | currency:'USD'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"> 
                
                <button class="btn btn-primary" 
                    [disabled]="!element.isPresent" 
                    id="product.id" (click)="onAddInCart(element)"
                >
                    In Cart
                </button>

            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="headers"></tr>
        <tr mat-row *matRowDef="let row; columns: headers;"></tr>
    </table>

</div>



