<div>
    
    <div>first-component properties:</div>
    <div>Property name: {{name}}</div>
    <p>Property desciption: <input type = "text" [value] = "desciption"></p>
    <div>Property price: {{price}}</div>
    <div>Property category: {{category}}</div>
    <div>Property isAvailable: {{isAvailable}}</div>
    ******************************************************************************
    <div>{{constantService2.app}} - {{constantService2.ver}}</div>

    <div>
        generatorService.getNewID(): {{generatedId}}<button (click)="onGenerateId()">Generate</button>
    </div>

    <div appClickDirective="green"> Test click-directive</div>
</div>

